<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                      http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	version="4.0">
	<listener>
		<listener-class>by.grsu.ggrib.cars.web.context.AppStartupListener</listener-class>
	</listener>
	<servlet>
		<servlet-name>CarServlet</servlet-name>
		<servlet-class>by.grsu.ggrib.cars.web.servlet.CarServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ContractServlet</servlet-name>
		<servlet-class>by.grsu.ggrib.cars.web.servlet.ContractServlet</servlet-class>
	</servlet>
	
<servlet-mapping>
		<servlet-name>CarServlet</servlet-name>
		<url-pattern>/Car</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>ContractServlet</servlet-name>
		<url-pattern>/Contract</url-pattern>
	</servlet-mapping>
</web-app>